<p>
  admin-insert-job-offer works!
</p>


<form>
  <md-input-container>
    <input mdInput [(ngModel)]="jobOfferModel.jobOfferName"
           name="jobOfferName"
           placeholder="job offer name" value="">
  </md-input-container>
  <md-input-container>
    <input mdInput [(ngModel)]="jobOfferModel.jobType"
           name="jobType"
           placeholder="job type name" value="">
  </md-input-container>
  <br />
  this is the content: {{jobOfferModel.jobOfferName}}
  this is the content: {{jobOfferModel.jobType}}
  <br />
  <button md-button (click)="submitForm()">Submit</button>
</form>

<hr><br />
<app-admin-list-job-offers></app-admin-list-job-offers>
